.title{
	margin-left: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fcac45;
  font-weight: bold;
}
.table{
	width: 67% !important;
}
.tr-width{
	width: 20%;
}
.btn-left{
	margin-left: 15px;
}